@import "../../ui/mixins";
@import "../../ui/variables";

.products {
    padding: 50px 0;

    &__list {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        @include r($sm) {
            flex-wrap: wrap;
        }
    }

    &__title {
        margin-bottom: 20px;
        font-size: 38px;
        text-align: center;

        @include r($md) {
            font-size: 30px;
        }

        @include r($sm) {
            font-size: 26px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__button {
        padding: 10px 20px;
        border: 1px solid #7a2041;
        border-radius: 35px;
        background-color: transparent;
        transition: all 0.3s;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            color: #fff;
            background-color: #7a2041;
        }

        @include r($sm) {
            margin-bottom: 10px;
            padding: 6px 8px;
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
}

.modal-product {
    &__info {
        padding: 20px 50px;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__price {
        margin-bottom: 20px;
    }

    &__price-main {
        display: block;

        span {
            text-decoration: line-through;
        }
    }

    &__price-sale {
        color: #000;
    }

    &__btn {
        padding: 10px 20px;
        border: 1px solid #7a2041;
        border-radius: 35px;
        box-shadow: 0 5px 5px 0 rgb(216, 124, 152);
        background-color: #fff;
        transition: box-shadow 0.5s;

        &:hover {
            box-shadow: none;
        }
    }
}
