.products {
    padding: 50px 0;

    &__list {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__list-item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__title {
        margin-bottom: 20px;
        font-size: 38px;
        text-align: center;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
}

.modal-product {
    &__info {
        padding: 20px 50px;
    }

    &__btn {
        padding: 10px 20px;
        border-radius: 35px;
        border: none;
        background-color: #e5ec7f;
        transition: background-color 0.3s;
        margin-bottom: 50px;

        &:hover {
            color: #fff;
            background-color: #000;
        }
    }

    &__text {
        margin-bottom: 20px;
    }

    &__sizes {
        margin-bottom: 20px;
    }

    &__sizes-header {
        margin-bottom: 10px;
    }

    &__list {
        display: block;
    }

    &__price-main {
        text-decoration: line-through;
    }

    &__price-sale {
        color: #000;
    }
}
