@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import "reset";

$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

@mixin r($width) {
    @media only screen and (max-width: $width + "px") {
        @content;
    }
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1260px;
}

.articles {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    max-width: 305px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &__img {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 15px;
        font-size: 16px;
    }

    &__prices {
        margin-bottom: 10px;
    }

    &__price {
        margin-bottom: 10px;
        color: #f00;
        margin-right: 10px;
    }

    &__oldprice {
        color: #b4b4b4;
        text-decoration: line-through;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        width: 100%;
    }

    &__btn-more {
        padding: 10px 20px;
        border: none;
        border-radius: 35px;
        background-color: #e5ec7f;
        transition: background-color 0.3s;

        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
    &__btn-buy {
        padding: 10px 20px;
        border-radius: 35px;
        border: 1px solid #e5ec7f;
        transition: background-color 0.3s;
        background-color: #fff;

        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
}

.btn {

}