@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import "reset";

$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

@mixin r($width) {
    @media only screen and (max-width: $width + "px") {
        @content;
    }
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1260px;
}

.articles {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 6px;
    margin-bottom: 30px;
    padding: 0 18px;
    width: 100%;
    max-width: 296px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s;

    &__img {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 15px;
        font-size: 16px;
    }

    &__prices {
        margin-bottom: 10px;
    }

    &__price {
        margin-right: 10px;
        margin-bottom: 10px;
        color: #f00;
    }

    &__oldprice {
        text-decoration: line-through;
        color: #b4b4b4;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        width: 100%;
    }

    &__btn-more {
        padding: 10px 20px;
        border: none;
        border-radius: 35px;
        box-shadow: 0 5px 5px 0 rgb(216, 124, 152);
        color: #fff;
        background-image: linear-gradient(120deg, #ba4564 40%, #7a2041);
        background-color: rgb(122, 32, 65);
        transition: box-shadow 0.5s;

        &:hover {
            box-shadow: none;
        }
    }

    &__btn-buy {
        padding: 10px 20px;
        border: 1px solid #7a2041;
        border-radius: 35px;
        box-shadow: 0 5px 5px 0 rgb(216, 124, 152);
        color: #7a2041;
        background-color: #fff;
        transition: box-shadow 0.5s;

        &:hover {
            box-shadow: none;
        }
    }

    &:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    }
}

.btn {

}