.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1220px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    padding: 20px 0;
    background-color: #fff;

    .menu {
        display: flex;
        justify-content: space-between;

        &__list {
            display: flex;
        }

        &__listItem {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.main {
    margin-top: 93px;
    min-height: 100vh;
    background-image: url("../../assets/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
