.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    padding: 20px 0;
    background-color: #fff;

    .menu {
        display: flex;
        justify-content: space-between;

        &__list {
            display: flex;
            align-items: center;
        }

        &__list-item {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}